html {
	font-family: 'Raleway', sans-serif;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

main {
  flex: 1 0 auto;
}

.imagez {
    /*width:  100px;*/
    height: 200%;
    /*background-position: 50% 50%;*/
    background-repeat:   no-repeat;
    background-size:     cover;
}

.fourAcross {
    display: inline-block;
    height : 15 vh;
    border: 1px solid #6D7993;
}

.jumbotron {
	/*padding: 0;*/
	background-image: url("../images/greycat.jpg");
	background-color: "brown lighten-4";
	background-size: 100%;
	background-repeat: no-repeat;
	height: 845px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: : 0px;
}

#h2 {
	color: #F78733;
	font-size: 70px;
	font-family: Patrick Hand SC;
	margin-top: 0px;
	padding-top: 10px;
	margin-left: 15px;
	margin-bottom: 45px;

}


#form{
	margin-left: 20px;
	margin-top: 20px;
	padding-left: 0px; 
	width: 550px;

}

#projectName {
 	font-family: Patrick Hand SC;
 	font-weight: bold;
 	font-size: 60px;
 	margin-top: 5px;
 	padding-top: 0px;
 	padding-left: 30px;
}

#header {
	height: 80px;
	padding-bottom: 20px;
	border-bottom: 8px solid #6D7993;
	
}

#map, #map2 {
  /* width: 50%;*/
   height: 300px;
   background-color: grey;
}

#tagline {
 	color: #F78733;
}

#footer {
	border-top: 0px;
 	margin-top: 0px;
 	padding-top: 0px;
 	/*background-color: #6D7993;*/
}

 /*.footer-container {
 	border-top: 8px solid #6D7993;
 }*/

.container {
 	margin-left: 0px;
 	margin-right: 0px;
 	padding-left: 0px;
 	border-right: 0px;
 }

#missionState {
	margin-left: 80px;
}

#nav-icons {
	margin-top: 5px;
	margin-right: 0px;
	padding-right: 40px;
}

.footer-container {
	border-top: 8px solid #6D7993;
	margin-top: 0px;
	padding-top: 0px;
}
.footer-copyright {
	padding-left: 5px;
}

.dropdown {
	width: 450px;
}

#logo {
 	padding-left: 30px;
}

#header {
	height: 80px;
}

#userPetSearch {
	border-bottom: 0px;
	margin: 0px;
	padding: 0px;
}
#userZip {
	color: white;
	
	font-size: 20px;
}

.content {

}

.headerPet {
	font-family: Patrick Hand SC;
	color: #F78733;
	text-align: center;
	text-decoration: underline;
}
.headerPet:hover{
cursor: pointer;
}

.petDetes {
	text-align: center;
}

#petResponse {
	margin-top: 100px;
}

