html {
	font-family: 'Raleway', sans-serif;
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
}

main {
	flex: 1 0 auto;
}

.imagez {
	width:  100px;
	height: 100px;
	background-position: 50% 50%;
	background-repeat:   no-repeat;
	background-size:     cover;
}

.jumbotron {
	/*padding: 0;*/
	background-image: url("../images/black_dog.jpeg");
	background-color: "brown lighten-4";
	background-size: 100%;
	background-repeat: no-repeat;
	height: 950px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-top: 8px solid #6D7993;
}

.content{
	width: 385px;
	height: 400px;
	float: left;
	color: white;
}

#logo {
	padding-left: 30px;
}

#header {
	height: 80px;
}

#map, #map2 {
	/* width: 50%;*/
	height: 300px;
	background-color: grey;
}

#tagline {
	font-family: Patrick Hand SC;
	font-size: 65px;
	color: #F78733;
}

#footer {
	margin-top: 0px;
	padding-top: 0px;
	background-color: #6D7993;
}

.footer-container {
	border-top: 8px solid #6D7993;
}

.container {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	border-right: 0px;
}

#missionState {
	margin-left: 80px;
}

#nav-icons {
	margin-top: 5px;
	margin-right: 0px;
	padding-right: 30px;
}

.footer-copyright {
	padding-left: 5px;
}

#aboutPar {
	font-size: 19px;
}


