html {
	font-family: 'Raleway', sans-serif;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

main {
  flex: 1 0 auto;
}

.jumbotron {
	padding: 0;
	background-image: url("../images/sad_pug.jpg");
	background-color: "brown lighten-4";
	background-size: 100%;
	background-repeat: no-repeat;
}

.content{
	width: 385px;
	height: 400px;
	float: left;
}

 h1 {
 	padding: 0;
 	margin: 0;
 }

  #map, #map2 {
   width: 50%;
   height: 300px;
   background-color: grey;
 }


